<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><input type="text" name="title" id=""></p>
    <p><input type="file" src="" name="poster" alt="" onchange="file_base64_converter(this);"></p> 
    <p><input type="date" name="release_date" id=""></p>
    <p><input type="time" name="durations" id=""></p> 
    <p><input type="text" name="desc" id=""></p>
    <p><input name="rating"></p>
    <p><input type="text" name="studio" id=""></p>
    <p><button type="submit" name="save">Save</button></p>
    <script src="/static/scripts/base.js"></script>
</body>
</html>